//
// Overrides
// --------------------------------------------------
//## Style rules that overrides the default theme's ones.
//## To make it easy to maintain and to avoid cascading problems,
//## just before the new rules, document the name of the Sass partial
//## where the original styles leave, group them per folder and keep
//## them in the same order as the original styles are imported to the main.scss.

//
// application/
// --------------------------------------------------

body.controller-site
    background-color: #f7f1ee
    p, h1, h2, h3
        color: #000

#main-header
    border-top: none


#home-watermark
    display: none

#brand-logo
    img
        width: initial
        height: 51px

nav#main-nav
    padding-top: 0
    padding-bottom: 0

nav#about-nav
    h1#organization-logo img
        width: 99px

nav#main-nav, nav#about-nav
    ul
        &.entities-menu, &.session-menu
            border: none
            .icon
                width: initial
                margin: 0
                font-size: 3.2rem

            .menu-item-label
                margin-top: -5px
                line-height: 1.85rem

            > li
                width: 7.5rem
                border: none
                padding: 1rem .20rem .20rem

#home-intro, #home-agents, #home-events, #home-spaces, #home-developers
    background-color: transparent

#home-intro
    background-image: url('../img/home-intro.png')
    background-position: bottom
    .box
        width: 50%
        position: relative
        float: left
        padding: 80px
        padding-top: 120px

        @media screen and (max-width: $screen-md)
            padding: 20px
            padding-top: 40px

        #home-search-form
            margin-top: 80px

#home-spaces
    background: url('../img/home-spaces.png')
    background-size: 100%
    background-color: #5c4d3f
    display: table-cell
    p, h1, h4, div, ul li
        color: #FFF
    > .box
        float: none
        display: inline-block
        &.box-1
            width: 30%
        &.box-2
            width: 45%
            vertical-align: top
        &.home-space-img.img-01
            width: 18%
            padding: 0
            padding-top: 0
            > img
                margin-bottom: -80px

#home-agents
    background: url('../img/home-agents.png')
    background-position: right bottom
    background-repeat: no-repeat

#home-events
    background: url('../img/home-events.png')


#home-developers
    background: url('../img/home-developers.png')
    background-color: #92beb2

#home-intro, #home-events, #home-spaces, #home-developers
    background-repeat: no-repeat
    background-size: 100%

#home-agents, #home-spaces
    .box
        padding-top: 120px
        .random-feature
            margin-top: 0
            .feature-content
                background: transparent
                border: none

#home-developers .box
    padding-top: 380px

footer#main-footer
    display: none

@font-face
    font-family: "IconsHorta"
    src:  url('../fonts/icons-horta.eot?spewuh')
    src:  url('../fonts/icons-horta.eot?spewuh#iefix') format('embedded-opentype'), url('../fonts/icons-horta.ttf?spewuh') format('truetype'), url('../fonts/icons-horta.woff?spewuh') format('woff'), url('../fonts/icons-horta.svg?spewuh#IconsHorta') format('svg')
    font-weight: normal
    font-style: normal

.icon-space, .icon-agent, .icon-event, .icon-login, .icon-home, .icon-developers, .icon-search
    &:before
        font-family: "IconsHorta" !important

#tab-cultivo, #tab-compostagem, #tab-coleta
    .servico
        border-top: none
        padding-top: initial

.servico .mapa
    margin-top: 1.5rem
    margin-bottom: 0


.leaflet-marker-icon
    width: initial !important
    height: initial !important

.leaflet-cluster
    line-height: 32px
    width: 30px !important
    height: 45px !important
    background-size: initial !important


#home-search-form .search-field
    width: 93%

#home-search-filter
    background: #7d9999
    width: 135px
    .placeholder
        padding: 0
        display: flex
        .icon
            font-size: 3rem
            margin-right: -5px

#home-nav li
    .icon
        font-size: 2rem

@font-face
    font-family: 'Roboto'
    font-style: normal
    font-weight: 400
    src: url('../fonts/roboto.woff2') format('woff2')
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
