//
// Overrides
// --------------------------------------------------
//## Style rules that overrides the default theme's ones.
//## To make it easy to maintain and to avoid cascading problems,
//## just before the new rules, document the name of the Sass partial
//## where the original styles leave, group them per folder and keep
//## them in the same order as the original styles are imported to the main.scss.

//
// application/
// --------------------------------------------------

body.controller-site
    background-color: #f7f1ee
    p, h1, h2, h3
        color: #000

#main-header
    border-top: none

#main-section
    margin-top: 95px

#home-watermark
    display: none

#brand-logo
    padding: 1.375rem 3rem
    img
        width: initial
        height: 51px

nav#main-nav
    height: 95px
    padding-top: 0
    padding-bottom: 0

nav#about-nav
    padding: 30px 10px
    h1#organization-logo img
        width: 99px

nav#main-nav, nav#about-nav
    ul
        &.entities-menu, &.session-menu
            height: 104px
            border: none
            .icon
                width: initial
                margin: 0
                font-size: 3.2rem
                line-height: 3.3rem

            .menu-item-label
                line-height: 1rem

            > li
                .avatar
                    width: 65%

                width: 7.5rem
                height: 104px
                border: none
                >a
                    line-height: 2.4rem

#home-intro, #home-agents, #home-events, #home-spaces, #home-developers
    background-color: transparent

#home-intro
    background-image: url('../img/home-intro.png')
    background-position: bottom
    .box
        width: 50%
        position: relative
        float: left
        padding: 80px
        padding-top: 120px

        #home-search-form
            margin-top: 80px

#home-spaces
    background: url('../img/home-spaces.png')
    background-size: 100%
    background-color: #5c4d3f
    display: table-cell
    p, h1, h4, div, ul li
        color: #FFF
    > .box
        float: none
        display: inline-block
        &.box-1
            width: 30%
        &.box-2
            width: 45%
            vertical-align: top
        &.home-space-img.img-01
            width: 18%
            padding: 0
            padding-top: 0
            > img
                margin-bottom: -80px

#home-agents
    background: url('../img/home-agents.png')
    background-position: right bottom
    background-repeat: no-repeat

#home-events
    background: url('../img/home-events.png')


#home-developers
    background: url('../img/home-developers.png')
    background-color: #92beb2

#home-intro, #home-events, #home-spaces, #home-developers
    background-repeat: no-repeat
    background-size: 100%

#home-agents, #home-spaces
    .box
        padding-top: 120px
        .random-feature
            margin-top: 0
            .feature-content
                background: transparent
                border: none

#home-developers .box
    padding-top: 380px

footer#main-footer
    display: none

@font-face
    font-family: "IconsHorta"
    src:  url('../fonts/icons-horta.eot?spewuh')
    src:  url('../fonts/icons-horta.eot?spewuh#iefix') format('embedded-opentype'), url('../fonts/icons-horta.ttf?spewuh') format('truetype'), url('../fonts/icons-horta.woff?spewuh') format('woff'), url('../fonts/icons-horta.svg?spewuh#IconsHorta') format('svg')
    font-weight: normal
    font-style: normal

.icon-space, .icon-agent, .icon-event, .icon-login
    &:before
        font-family: "IconsHorta" !important

#tab-cultivo, #tab-compostagem, #tab-coleta
    .servico
        border-top: none
        padding-top: initial

.servico .mapa
    margin-top: 1.5rem
    margin-bottom: 0


.leaflet-marker-icon
    width: initial !important
    height: initial !important

.leaflet-cluster
    line-height: 32px
    width: 30px !important
    height: 45px !important
    background-size: initial !important
