//
// Variables
// --------------------------------------------------

//** Event icon
// used on:
// .icon-event on _icons.scss file
// .btn-map-event on _maps.scss file
$unicode-event: "\e900" !default

//** Space icon
// used on:
// .icon-space on _icons.scss file
// .btn-map-space on _maps.scss file
$unicode-space: "\e903" !default

//** Agent icon
// used on:
// .icon-agent on _icons.scss file
// .btn-map-agent on _maps.scss file
$unicode-agent: "\e904" !default

// alias for $unicode-lock
// used on .icon-login on _icons.scss file
$unicode-login: "\e957" !default

$unicode-home: "\e902" !default

$unicode-developers: "\e905" !default

$unicode-search: "\e962" !default

$brand-space: #cfad29!default
$brand-agent: #84aca2 !default

$font-family-base: 'Roboto' !default
